@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

textarea {
  field-sizing: content;
  min-height: 2lh;
  max-height: 8lh;
}
